* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ....................... NAVIGATION SECTION ............................. */

nav {
    padding: 1rem 2rem;
    width: 90%;
    top: 0;
    bottom: 0;
    position: absolute;
    color: black;
    margin: auto;
}
nav > .navMenu {
    display: flex;
    align-items: center;
    
}
/* LEFT NAVIGATION SECTION */
nav > .navMenu > .navLeft{
    flex: 1;
    display: flex;
    align-items: center;
}
.navLeft > .logoImg {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
   margin-right: 0.5rem;
}
.navLeft > .logoImg:hover {
    opacity: 0.8;
    transition: all 250ms ease-in-out;
}


/* CENTER NAVIGATION SECTION */
nav > .navMenu > .navCenter{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    display: flex;
   
}

.nav > li {
    list-style: none !important;
    font-weight: 200;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;   
}
.nav > li:hover {
    font-weight: 500;  
    transition: all 250ms ease;
}
.nav > li > a {
    text-decoration: inherit;
    color: inherit;
    
}
/* RIGHT NAVIGATION SECTION */
nav > .navMenu > .navRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile > img {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

/* Checkout section */

.container {
    width: 80%;
    margin: 5em auto;
}
.edmfest {
    display: flex;
    background-color: #EFEFEF;
    height: 10em;
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
    
}
.edmfest img {
    float: left;
    height: 7em;
    margin-right: 2em;
}
.festdetails {
    display: flex;
    background-color: #D1D1D1;
    margin: 1.5rem 1.5em;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    height: 5em;
}
.festdetails div {
    padding-top: 1.5em;
}
input {
    width: 2em;

}
.cartTotal{
    background-color: #F25287;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.8em;
    cursor: pointer !important;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D1D1D1;
    width: 50%;
    padding: 1.5em 1.5em;
    margin: 0 auto;
    margin-top: 2em;
}
button.arrow {
    background-color: #F25287;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: none;
    padding: 0.3em;
}
button.checkout {
    background-color: #F25287;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.8em;
    cursor: pointer;
}
button > i{
    color: white;
}
/* Media querry */

@media (max-width: 560px) {

    .edmfest img {
        float: left;
        height: 5em;
        margin-right: 1em;
    }
    .festdetails {
        display: flex;
        background-color: #D1D1D1;
        margin: 0.8em 0;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        height: 3em;
    }
    .festdetails div {
        padding-top: 0em;
        font-size: 0.8em;
    }
    button.arrow {
        background-color: #F25287;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        border: none;
        padding: 0.2em;
    }
}