* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Navbar */

nav {
    color: black !important;
}
/* Checkout section */

.container {
    width: 80%;
    margin: 5em auto;
}
.events  {
    margin: 5em auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
   }
.action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}
.edmfest {
    display: flex;
    background-color: #EFEFEF;
    height: 10em;
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
    
}
.edmfest img {
    float: left;
    height: 7em;
    margin-right: 1em;
}
.festdetails {
    display: flex;
    background-color: #D1D1D1;
    margin: 1.5rem 1.5em;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    height: 5em;
}
.festdetails div {
    padding-top: 1.5em;
}
input {
    width: 2em;

}
.cartTotal{
    background-color: #F25287;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.8em;
    cursor: pointer !important;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D1D1D1;
    width: 30%;
    padding: 1.5em 1.5em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.container > .total {
    float: right;
}
button.remove {
    background-color: #F25287;
    border: none;
    border-radius: 1.5em;
    width: 5.5em;
    height: 1.5em;
    color: white;
}
button.arrow {
    background-color: #F25287;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: none;
    padding: 0.3em;
}
button.checkout {
    background-color: #F25287;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.8em;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 42d377451508a175255b3522387cb7ab00930fdf
    cursor: pointer;
    width: 10em;
<<<<<<< HEAD
>>>>>>> 36c5d69f8ba5d2379893372b8fec252c92138fa0
=======
    width: 10em;
>>>>>>> 9c61b8ed685abe2a69909f83ca2edcbf9927c079
=======

>>>>>>> 42d377451508a175255b3522387cb7ab00930fdf
}
button > i{
    color: white;
}

#footer {
    width: 100%;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem 3rem;
  }
  #footer > h1 {
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;
    font-size: 2rem;
  }
  #footer > .footerContainer {
    display: flex;
    margin-top: 3rem;
    height: 20vh;
  }
  #footer > .footerContainer > .footerLeft {
    flex:1;
    
  }
  .footerLeft > .socialContainer {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .footerLeft > .socialContainer > .fab {
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
  }
  #footer i{
      margin-left: 0.5em;
      margin-right: 0.5em;

  }
  #footer > .footerContainer > .footerCenter {
    flex:1;
    text-align: center;
    line-height: 1.5;
  }
  #footer > .footerContainer > .footerCenter > h3 {
    font-weight: 300;
    opacity: 0.8;
  }
  #footer > .footerContainer > .footerCenter > p {
    font-weight: 300;
    opacity: 0.6;
  }
  #footer > .footerContainer > .footerRight {
    flex:1;
    display: flex;
    justify-content: center;
    opacity: 0.8;
  }
  .icon {
    margin: 0.7rem;
  }
  .icon > .fas {
    margin-right: 0.7rem;
  }
  
  .footerContainer > hr {
    width: 70%;
    margin: auto;
  }
  @media screen and (max-width: 720px){
      #footer{
        margin: 0;
        display: flex;
        flex-direction: column;
        

      }
      #footer h1{
          margin: 0;
      }
      .footerContainer{
          display: flex;
          flex-direction: column;
          margin: 0;
          
          
      }
      .socialContainer{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content:space-evenly;
          margin-bottom: 0.6em;
          
      }
      .footerCenter{
          margin-bottom:0.4em;
      }
      .footerRight{
          text-align: center;
      }
      
  }
/* Media querry */

@media (max-width: 650px) {

    .edmfest img {
        float: left;
        height: 5em;
        margin-right: 1em;
    }
    .festdetails {
        margin: 0.8em 0;
        height: 3em;
    }
    .festdetails div {
        padding-top: 0em;
        font-size: 0.8em;
    }
    input {
        width: 1em;
        height: 1em;
    }
    button.arrow {
        width: 1.2em;
        height: 1.2em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
        padding: 0.2em;
    }
    .total {
        display: inline-block;
        width: 30%;
        padding: 1em 1em;
        margin: 0 auto;
        margin-top: 1em;
        font-size: 0.8em;
    }
    button.checkout {
        border: none;
        padding: 0.5em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
        width: 5em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        em;
    }
}