* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* ....................... NAVIGATION SECTION ............................. */

nav {
  padding: 1rem 0;
  width: 100%;
  top: 0;
  position: absolute;
  color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

nav>.navMenu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

/* LEFT NAVIGATION SECTION */
nav>.navMenu>.navLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding-left: 1rem;
}

.navLeft>.logoImg {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;

}

.navLeft>.logoImg:hover {
  opacity: 0.8;
  transition: all 250ms ease-in-out;
}


/* CENTER NAVIGATION SECTION */
nav>.navMenu>.navCenter {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;

}

.nav>li {
  list-style: none !important;
  font-weight: 400;
  margin-right: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nav>li:hover {
  font-weight: 600;
  transition: all 250ms ease;
}

.nav>li>a {
  text-decoration: inherit;
  color: inherit;
}

/* RIGHT NAVIGATION SECTION */
nav>.navMenu>.navRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-self: flex-end;
  padding-right: 1rem;

}

.profile>img {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

nav i {
  font-size: 2em;
}

@media screen and (max-width: 720px) {
  nav {
    padding: 0;
    margin: 0.5em 0;
    width: 100%;

  }

  .navLeft {
    padding: 0;
  }

  .navCenter {
    font-size: 0.8em;
    padding: 0;
    gap: 0.1em;

    display: flex;
    justify-content: space-evenly;
  }

  .navCenter ul {
    gap: 0.5em;


  }

  .navCenter ul li {
    padding: 0;
    margin: 0;
  }
  .nav li a{
    
    padding: 0.8em 0.7em;
    text-align: center;
    display: inline-block;
  
    border-radius: 0.3em;
    margin: 0;
    font-size: 0.7em;
  }
  a:hover{
    background-color: grey;
  }

  .navRight {
    padding: 0;
    font-size: 0.9em;

  }

  .navRight img {
    display: none;
  }

}