* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}


/* .............................. LANDING SECTION ........................................... */
#landingSection {
    background:
    linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
    url("../images/landingpage_bg.jpg")
     center;
     background-size: cover
    ;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}
#landingSection > .heading > h1 {
    font-size: 7rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}

#landingSection > .heading > p {
    font-size: 2rem;
    font-family: 600;
    opacity: 0.8;
    margin-bottom: 1rem;
}

#landingSection > .heading > button {
    cursor: pointer !important;
    background: transparent;
    color:#ffffff;
    padding: 0.7rem 1rem;
    border: 1px solid #ffffff;
    font-size: 1.2rem;

    
}
#landingSection > .heading > button:hover{
    background-color:white;
    color: black;
}

.heading button:hover{
    background-color: white;
    border:none;
    color: rgb(46, 46, 46);

}
#landingSection > .heading > button a {
    text-decoration: inherit;
    color: inherit;  

}

/* ....................... UPCOMING EVENTS SECTION ................................ */
#events {
    background-color: #ECECEC;
}
#events > .eventContainer{
    width: 95%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    
}

#events > .eventContainer > h2 {
    text-align: center;
    font-size: 2rem;
}
.eventsWrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 4rem;
    flex-wrap: wrap;
} 
.eventsWrapper > .eventCard {
    width: 30%;
    height: 60vh;
    display: flex;
    border: 1px solid lightgray;
    flex-direction: column;
    margin-bottom: 0.625rem;
    border-radius: 0.825rem;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #F6F6F6;

}

.eventCard > .imgContainer {
    border-top-left-radius: 0.825rem;
    border-top-right-radius: 0.825rem;
    overflow: hidden;
   
   
}
.eventCard > .imgContainer > img {
    width: 100%;
    object-fit: cover;
   
}

.eventCard > .infoContainer {
    margin-top: 0.5rem;
    line-height: 1.5;
    text-align: center;
}
.eventCard > .infoContainer > h4 {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    
}
.eventCard > .infoContainer > p {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.9;
    
}

.eventCard > .infoContainer > button {
    margin-top: 1rem;
    cursor:pointer;
    border:none;
    background-color: black;
    color:white;
    border-radius: 0.625rem;
    padding: 0.625rem 1rem;


}
.eventCard > .infoContainer > button:hover{
    background-color:rgb(46, 46, 46);
}
.price {
    font-weight: 700;
}

.dateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 2.5rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.798);
    color: #ffffff;
    position: absolute;
    top:0;
    right: 1rem;
    padding: 0.3125rem;
}
.dateContainer > h3 > span {
    vertical-align: super;
}

@media (max-width:700px){
    div.eventsWrapper{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: unset;
        
    }
    div.eventCard{
        width: 100%;
        margin: 0;
    }
    div.imgContainer{
        width: 100%;
    }
}