* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
/* ....................... NAVIGATION SECTION ............................. */
nav {
    padding: 1rem 2rem;
    width: 90%;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
    margin: auto;
}
nav > .navMenu {
    display: flex;
    align-items: center;
    
}
/* LEFT NAVIGATION SECTION */
nav > .navMenu > .navLeft{
    flex: 1;
    display: flex;
    align-items: center;
}
.navLeft > .logoImg {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
   margin-right: 0.5rem;
}
.navLeft > .logoImg:hover {
    opacity: 0.8;
    transition: all 250ms ease-in-out;
}


/* CENTER NAVIGATION SECTION */
nav > .navMenu > .navCenter{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    display: flex;
   
}

.nav > li {
    list-style: none !important;
    font-weight: 200;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;   
}
.nav > li:hover {
    font-weight: 500;  
    transition: all 250ms ease;
}
.nav > li > a {
    text-decoration: inherit;
    color: inherit;
    
}
/* RIGHT NAVIGATION SECTION */
nav > .navMenu > .navRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile > img {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

/* .............................. LANDING SECTION ........................................... */
#landingSection {
    background:
    linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
    url("../images/landingpage_bg.jpg")
     center;
     background-size: cover
    ;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}
#landingSection > .heading > h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

#landingSection > .heading > p {
    font-size: 1.5rem;
    font-family: 500;
    opacity: 0.8;
    margin-bottom: 1rem;
}
#landingSection > .heading > button {
    background-color:#ffffff;
    color: black;
    padding: 1.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.7rem 1rem;
    font-size: 2rem;
    font-weight: 600;
}





